@use '../../styles/fontVariables.scss';

.slider {
  position: relative;
  &__container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }
  &__button {
    position: absolute;
    top: 50%;
    left: 0;
    width: 38px;
    height: 76px;
    border: none;
    background: url('../../assets/images/slider_button_nav.svg') no-repeat center / cover;
    margin-inline: 40px;
    &:last-of-type {
      left: unset;
      right: 0;
      rotate: 180deg;
    }
  }
  &__picture {
    flex: none;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    &__button {
      display: none;
    }
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
  gap: 60px;
  background-color: #ed6d2d;
  padding: 50px 0 50px 55px;

  &__title {
    display: inline;
    color: #fff;
    white-space: nowrap;
    @include fontVariables.titleFontStyles;
    font-size: 60px;
    line-height: 60px;
  }

  @media (max-width: 767px) {
    padding: unset;

    &__title {
      font-size: 30px;
      line-height: unset;
    }
  }
}
.items {
  display: flex;
  gap: 60px;
}
.marquee {
  animation: scroll 10s linear infinite;
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 50px));
  }
}
