@use '../../styles/elementVariables.scss';
@use '../../styles/fontVariables.scss';

.mentors {
  max-width: 1105px;
  margin: auto;
  padding-top: 171px;

  &__title-container {
    display: flex;
    align-items: end;
  }
  &__title {
    text-wrap: balance;
    color: #000;
    font-family: HeadingNow-45Medium;
    font-size: 50px;
    font-weight: 500;
    line-height: 59.5px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    gap: 32px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-block: 140px;
    color: #fff;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__button {
    border: none;
    border-radius: 50%;
    background: url('../../assets/images/button_icon.svg') no-repeat center / auto;
    background-color: #d9d9d9;
    padding: calc(43px / 2);
    &:last-of-type {
      rotate: 180deg;
      margin-left: 15px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 50px;
    max-width: min-content;
    &__title {
      @include fontVariables.titleFontStylesMobile;
    }

    &__button {
      display: none;
    }

    &__list {
    padding: unset;
    padding-top: 25%;
    }
  }
}
