@use '../../styles/fontVariables.scss';
@use '../../styles/elementVariables.scss';

.form {
  max-width: 418px;
  border-radius: 20px;
  background: #fff;
  flex: auto;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 40px;
  }

  &__title {
    margin-bottom: 44px;
    text-align: center;
    color: #000;

    font-family: HeadingNow-84Regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 22.5px;
    text-transform: uppercase;
  }

  &__input {
    @include elementVariables.formInputStyles;
    @include fontVariables.inputFontStyles;
  }

  &__submit {
    margin: 0 auto;

    @include elementVariables.submitFormStyles;
    border-radius: 7px;
    @include fontVariables.submitFontStyles;
  }

  @media (max-width: 767px) {
    &__title {
      margin-bottom: unset;
    }
  }
}
