.form {
  max-width: 418px;
  border-radius: 20px;
  background: #fff;
  flex: none;

  &__container {
    display: flex;
    flex-direction: column;

    padding: 39px 41px 37px;
  }

  &__title {
    margin-bottom: 44px;
    text-align: center;
    color: #000;

    font-family: HeadingNow-84Regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 22.5px;
    text-transform: uppercase;
  }

  &__input {
    border: none;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 26px;

    font-family: GothaProRegular;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    &:focus {
      outline: none;
      border-color: rgba(255, 0, 0, 0.811);
    }
  }

  &__submit {
    margin: 0 auto;
    text-align: center;
    border: none;
    border-radius: 7px;
    padding-block: 10px;
    padding-inline: 35px;

    color: #fff;
    background-color: #ed6d2d;

    font-family: GothaProBold;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-transform: uppercase;
  }
}
