@use '../../styles/elementVariables.scss';
@use '../../styles/fontVariables.scss';

.adaptive {
  &__container {
    display: flex;
    justify-content: space-evenly;
  }
  padding-top: 55px;
  color: #000;

  &__information-container {
    max-width: 528px;
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 45px;

    @include fontVariables.titleFontStyles;
    font-size: 40px;
    line-height: 46px;

    &::after {
      content: 'FOR ALL AGES';

      font-family: HeadingNow-83Book;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  &__button {
    color: #fff;
    border: none;
    border-radius: 50px;
    background: #c6c6c5;
    padding: 10px 25px;

    font-family: GothaProMedium;
    font-size: 12px;
    font-weight: 400;
    line-height: 9px;
    &_active {
      background-color: #ed6d2d;
    }
  }

  &__list {
    margin-bottom: 46px;

    font-family: GothaProRegular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    & > li:first-child {
      margin-top: 25px;
    }
  }

  &__element {
    margin-left: 30px;
    list-style: disc;
  }

  &__submit {
    @include elementVariables.submitFormStyles;
    width: max-content;
    @include elementVariables.buttonShadow;
    border-radius: 7px;

    @include fontVariables.submitFontStyles;
    color: #fff;
    &:hover {
      box-shadow: -2px 2px 7px 3px rgba(0, 0, 0, 0.25);
    }
  }

  &__picture {
    object-fit: cover;
  }

  @media (max-width: 1023px) {
    &__picture {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__container {
      @include elementVariables.paddings;
    }
    &__navigation {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &__submit {
      display: block;
      margin: auto;
    }
  }
}
