@mixin paddings {
  padding-left: 170px;

  @media (max-width: 1023px) {
    padding-inline: 10px;
  }
}

@mixin button {
  cursor: pointer;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

@mixin buttonOnHover {
  transform: scale(98%);
}

@mixin buttonOnHoverChangeColor {
  background-color: #000;
  color: #fff;
}

@mixin buttonShadow {
  box-shadow: 9px 11px 8px 1px rgba(0, 0, 0, 0.25);
}

@mixin formInputStyles {
  max-width: 372px;

  border: none;
  border-bottom: 1px solid #a9a9a9;

  &:focus {
    outline: none;
    border-color: rgba(255, 0, 0, 0.811);
  }

  &:invalid {
    border-color: rgba(255, 0, 0, 0.811);
  }

  &:valid {
    border-color: #32a852;
  }
}

@mixin submitFormStyles {
  width: 162px;

  border: none;
  border-radius: 49px;
  padding: 10px;

  color: #fff;
  background-color: #ed6d2d;
}
