@use '../../styles/elementVariables.scss';
@use '../../styles/fontVariables.scss';

.getMoreInfo {
  padding-top: 104px;
  width: fit-content;
  margin: auto;
  padding-bottom: 203px;

  &__title {
    margin-bottom: 100px;

    color: #000;
    font-family: HeadingNow-84Regular;
    font-size: 60px;
    font-weight: 400;
    line-height: 63.5px;
    text-transform: uppercase;
    &::after {
      content: ' contact us!';
      color: #ff682c;
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 104px;

    color: #a9a9a9;
    font-family: HeadingNow-84Regular;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
  }

  @media (max-width: 767px) {
    max-width: 372px;
    padding-top: unset;
    padding: 50px 0;
    @include elementVariables.paddings;

    &__title {
      font-size: 30px;
      margin-bottom: 50px;
      line-height: unset;
    }
  }
  &__subtitle {
    margin-bottom: unset;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border-radius: 20px;
  gap: 60px 30px;

  &__input {
    @include elementVariables.formInputStyles;
    @include fontVariables.inputFontStyles;
  }

  &__submit {
    @include elementVariables.submitFormStyles;
    @include fontVariables.submitFontStyles;
  }

  @media (max-width: 767px) {
    & {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
}
